*
!requirements.txt
!pyboy/
!setup.py
!tests/
tests/BlarggROMs
!examples/
!README.md
!README/
**/*.pyo
**/*.pyc
**/*.pyd
**/*.so
**/*.c
**/*.h
**/*.dll
**/*.lib
**/*.exp
**/*.html
**/*.gb
**/*.gbc
**/*.bin
**/*.rom
!pyboy/core/bootrom.bin
