[flake8]
exclude =
    .git        # Save time trawling directories
    __pycache__ # Ditto
    opcodes.py  # Just crashes anyway, too big
ignore =
    E121 # Continuation line under-indented for hanging indent
    E123 # Closing bracket does not match indentation of opening bracket's line
    E126 # Continuation line over-indented for hanging indent
    E128 # Continuation line under-indented for visual indent
    E203 # Whitespace before ':' or ',' (ignored for aligning arrays of data, could be per-file)
    E221 # Multiple spaces before operator (ignored to align operators across lines)
    E226 # Missing whitespace around arithmetic operator (ignored to improve readability when mixing operator precedence)
    E261 # At least two spaces before inline comment
    E402 # Module level import not at top of file (ignored because isort manages imports for us)
    W503 # Line break before binary operator
    W504 # Line break after binary operator
    E722 # Do not use bare 'except'
    E731 # Do not assign a lambda expression, use a def
per-file-ignores =
    # Unused imports (would need __all__ populated, possibly)
    __init__.py:F401
    # Line too long (comments contain large tables of example output)
    interface_example.py:E501
    # Ditto (btw, inline comments are broken for this option, maybe fix)
    tetris_bot.py:E501
    # Auto generated code
    manager.py:E701
max-line-length = 120
