# Change in setup.py
cython>=0.29.16; platform_python_implementation == 'CPython'
numpy; python_version > '3.7'
pillow>=8.0.0; python_version > '3.7'
numpy<=1.19.5; python_version <= '3.7'
pillow; python_version <= '3.7'
pysdl2
